testimonial-heading>h2{
    color: aqua;
    text-transform: capitalize;
    margin-left: 20px;
   }
   
   .testimonial-heading>h1{
     text-transform: capitalize;
     margin-left: 20px;
     color: red;
   }

#testimonial-content>h2{
    color: aqua;
}

p{
    color: rgb(132, 42, 165);
    font-size: 2rem;
}